.container {
    display: flex; 
    min-height: 95vh;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;

}

.left {
    flex: 2;
    border: 1px solid red;
    background-image: url("/background.jpg");
    background-size: cover;
}

.right {
    flex: 3;
    border: 1px dotted blue;
    display: flex;
    flex-direction: column;
}

.right-top{
    flex: 1;
}

.right-middle {
    flex: 1;
}

.right-bottom {
    flex: 1;
}